
#header1{
    font-size: 65px;
    color: rgb(246, 227, 170);
 }
 .header3{
     color: rgb(244, 64, 64);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-style: italic;
     font-size: 16px;
     text-align: center;
     margin-top: -25px;
 }
 .container {
position: relative;
text-align: center;




 }
 .centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);


}
button{
height: 60px;
width: 150px;
border-radius: 10px;
color: cornsilk;
background-color: rgb(221, 21, 191);

border: solid rgb(221, 21, 191);
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;


}

#header2{
text-align: center;
margin-top: 100px;
font-size: 50px;
font-weight: bold;
font-family: 'Courier New', Courier, monospace;
}

.inline-block{
margin-top: 10px;
text-align: center;


}

.tk{

display: inline-block;
text-align: center;
height: 100px;
width: 130px;
background-color: rgb(249, 248, 247);
text-align: center;
margin: 15px;
font-weight: bold;
font-size: 25px;
color: rgb(154, 153, 151);
border: rgb(249, 248, 247);





}
.twotk{
display: inline-block;
height: 100px;
width: 130px;
background-color: rgb(244, 220, 198);
text-align:center;
margin: 15px;
font-size: 25px;
border:solid tomato;


}

.input{
border: 0;
text-align: center;

}

.input{
width: 600px;
background: 
linear-gradient(#000, #000) center bottom 5px /calc(100% - 10px) 2px no-repeat;
background-color: #fcfcfc;
border: 0px solid;
padding: 10px;
align-items: center;
}

.input2{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}


.donateplan{
text-align: center;
margin-top: 120px;
font-size: 25px;
font-weight: bold;
font-family: 'Courier New', Courier, monospace;
}


.block{
text-align: center;
}    

.bigbox1{
display: inline-block;
height: 350px;
width: 350px;
background-color: rgb(245, 237, 241);
margin: 20px;
border-radius: 10px;
}

.bigbox2{
display: inline-block;
height: 350px;
width: 350px;
background-color: rgb(220, 246, 234);
margin: 20px;
border-radius: 10px;
}

.bigbox3{
display: inline-block;
height: 350px;
width: 350px;
background-color: rgb(247, 243, 227);
margin: 20px;
border-radius: 10px;
}
.icon{
text-align: left;
margin-top: 50px;
margin-left: 20px;
}

.shorthead{
text-align: left;
margin-left: 20px;
font-family: fantasy;

}
.shorttext{
text-align: left;
margin-left: 20px;
margin-right: 5px;
color: rgb(129, 125, 125);
}

section{
display: flex;
}

.halfi{
height: 100px;
width: 28%;
padding: 10%;
font-size: 30px;
}
.halfi img{
width: 100%;
height:600px;
border-radius: 10px;

}
.halfi h1{
padding-left: 30px;
}
.halfi p{
font-size: 20px;
padding-left: 30px;
color: rgb(119, 121, 121);
}

.halfi button{
margin-left: 30px;
height: 60px;
width: 200px;
border-radius: 10px;
color: cornsilk;
background-color: rgb(221, 21, 191);

border: solid rgb(221, 21, 191);
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;

}
.section2{
margin-top: 400px;
}

#update{
text-align: center;
margin-top: 500px;
font-weight: bold;
font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#sp{
color: coral;
}
#great{
text-align: center;
margin-top: -20px;
color: rgb(175, 171, 171);
}

#final{
display: flex;
text-align: center;
height: 180px;
background-color: bisque;
margin-left: 340px;
margin-right: 340px;
display: flex;
}


.downsearch{
text-align: center;
margin-top: 80px;
width: 250px;
height: 44px;
color: rgb(111, 107, 107);
align-items: center;
margin-left: 180px;
border: 0px;
}
#final button{
height: 45px;
border-radius: 0px;
margin-top: 10px;
border-top-right-radius:10px;
border-bottom-right-radius: 10px;

}

.footer{
text-align: center;
background-color: #000;
height: 200px;


}
.end{
color: brown;
padding-top: 50px;
font-family: fantasy;
}

.endline{
color: #fcfcfc;
font-size: small;
}
body{
margin: 0px;
}

